@media only screen and (min-width: 1000px){
    .navbar .fas.fa-solid.fa-heart{
        position: absolute;
        left: 16%;
        top: 36%;
        font-size: 20px;
    }
    .navbar .fa.fa-cart-plus.fa-2x  {
        position: absolute;
        left: 6%;
        font-size: 17px;
        top: 38%;
        
    }
    .navbar .fa.fa-cart-plus.fa-2x.TaHer{
        font-size: 17px;
        font-weight: bold;
    }
    .container-fluid .navbar-nav .fa.fa-cart-plus.fa-2x:after {
        position: absolute;
        content: "1";
        background: black;
        color: white;
        bottom: 19px;
        left: 82%;
        top: -100%;
        border-radius: 50%;
        padding:2px;
        font-size: 13px;
    }
    .form-control.rounded{
        position: absolute;
        width: 104px;
        top: -189%;
        left: -248px;
    }
    .input-group-text .fas.fa-search{  
        top: -86%;
        left: -244px;
    }
    
}  

@media only screen and (max-width: 1000px){
    .navbar .fas.fa-solid.fa-heart{
         position: static;
    }
    .navbar .fa.fa-cart-plus.fa-2x{
        position: static;
        
    }
    .fas.fa-sign-out-alt.fa-lg{
        position: absolute;
        left: 3%;
        top:27%;
        color: #000;
    }
    .container-fluid .navbar-nav .fa.fa-cart-plus{
        font-size: 25px;
        margin-left: -22px;
       
    }
    .container-fluid .navbar-nav .fa.fa-cart-plus.fa-2x:after {
    position: relative;
    content: "1";
    background: black;
    color: white;
    bottom: 19px;
    left: 89%;
    bottom: 25px;
    border-radius: 50%;
    padding: 4px;
    font-size: 13px;
    }
    
    .wrapper{
        height: 882px;
    }
    .wrapper #footer {
             
            margin-top: -50px;
        }

    .text-center{  
            margin: 0 20;
        }
        .input-group-text .fas.fa-search{
            position: absolute;
            top: 25%;
            right: 247px;
            }
     
}